body{
    width:100%;
    overflow-x: hidden;   
}
#container{
  width:1400px;
  margin-left: 12%;
  margin-right: 8%;
}

/* Banner-section */
#banner{
    width:1320px;
    height:600px;
    position: relative;
    
}

#banner-text{
    position: absolute;
    top:3rem;
    left:20rem; 
   
    color:white;
   
}
#banner h4{
 font-size: 2.5rem;
 font-weight: lighter;
}
 
#banner h2{
    text-align: center;
    font-size: 3rem;
    margin-top: -2rem;
    font-weight: bolder;
    margin-left: -2rem;
}

#banner-img{
    width:70%;
   opacity: 0.9;
    
}

/* Deals Sections */
#deals-section{
  display: flex;
  flex-direction: column;
  margin-top:-5.6rem ;
  position: relative;
  height:32rem;
}
.deals-para{
    display: flex;
  flex-direction: column;
  position: absolute;
  left:20rem;
  

}

.deals-para h2{
        color:red;
        font-size: 4rem;
}

.deals-para h4{
    color:black;
    font-size: 1.5rem;
    margin-bottom: -2.5rem;
    margin-top: .5rem;
}

#deals-para{
    color: red;
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: -2rem;
}

#deals-img{
    width:45%;
    position: absolute;
    top:16rem;
    left: 8.5rem;
    padding-bottom: 10rem;
}
/* Gift Setion */
#best-gifts{
width:100%;
}

#best-gifts h3{
    color:red;
}


.section-gap{
    margin-top:200px;
}

#cards{
    display: flex;
    flex-direction: column;
}

.card-img{
    width:30%;
    padding:1rem;
    height: auto;

}

.card-group{
    display: flex;
}

#newsletter{

}

footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color:white;
    margin-top: 100px;
}

#social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#newsletter button{
    background-color: red;
    color: white ;
    font-size:1.5rem;
    padding: .5rem;
    font-weight: bolder;
    border: .5rem solid red;
    border-top-right-radius: 15%;
    border-bottom-right-radius:15%;
}

#footer-bottom
{
    display: flex;
    justify-content: space-between;
}


