body{
    width:100%;
}
#container{
  width:1370px;
  margin-left: 12%;
  margin-right: 8%;
}

/* Banner-section */
#banner{
    width:1320px;
    height:600px;
    
}

#banner h4{

}
 
#banner p{

}

#banner-img{
    width:70%;
}

/* Deals Sections */
#deals-section{
    /* text-align: center; */
}
/* Gift Setion */
#best-gifts{
width:1320px;
height:1163px;
/* margin-left: 10%; */
                
}

#best-gifts h3{
    color:red;
}

#newsletter{

}
.section-gap{
    margin-top:200px;
}

#cards{
    display: flex;
    flex-direction: column;
}

.card-img{
    width:30%;
    padding:1rem;
    height: auto;

}

.card-group{
    display: flex;
}

footer{
    display: flex;
    flex-direction: column;
}

#social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#newsletter button{
    background-color: red;
    color: white ;
    font-size:1.5rem;
    padding: .5rem;
    font-weight: bolder;
    border: .5rem solid red;
    border-top-right-radius: 10%;
    border-bottom-right-radius:10%;
}
